<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- MENU -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">


            <!-- FILE -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-file mx-1"></i> File
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item menu-new" href="#"> <i class="fa-regular fa-square-plus mx-2"></i> New Project</a></li>
                    <li><a class="dropdown-item menu-open" href="#"><i class="fa-regular fa-folder-open mx-2"></i>Open Project</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-regular fa-save mx-2"></i>Save Project</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-file-export mr-1"></i>Save Project As</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-download mx-2"></i>Export Project</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item menu-close" href="#"><i class="fa-solid fa-close mx-2"></i>Close Project</a></li>
                </ul>
            </li>

            <!-- REQUIREMENT -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-circle-nodes mx-1"></i> Requirement
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item menu-new" href="#"> <i class="fa-regular fa-square-plus mx-2"></i> New Requirement</a></li>
                    
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-shuffle mx-2"></i> Requirement Traceability</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-table-cells mx-2"></i>&nbsp;Requirement Matrix</a></li>
                </ul>
            </li>

            <!-- DIAGRAM -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../../assets/images/legacy/diagram.png" alt="" width="20px" class="mx-1">New Diagram
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-vector-square mx-2"></i> Feature Diagram</a></li>
                    
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-users mx-1"></i>&nbsp; Use Case Diagram</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-sitemap mx-2"></i>Class Diagram </a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-microchip mx-2"></i>Component Diagram </a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrows-spin mx-2"></i>&nbsp;Sequence Diagram </a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-square-poll-horizontal mx-2"></i>&nbsp;Activity Diagram </a></li>
                </ul>
            </li>

            <!-- PRODUCT LINE -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-regular fa-hard-drive mx-2"></i> Product Line
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item menu-edit" href="#"><i class="fa-solid fa-edit mx-2"></i> Edit Profile</a></li>
                    
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item menu-new" href="#"> <i class="fa-solid fa-box-open mx-1"></i> New Product</a></li>
                    <li><a class="dropdown-item menu-new" href="#"><i class="fa-solid fa-tablet-screen-button mx-2"></i>New Instance </a></li>
                    <li><a class="dropdown-item menu-new" href="#"><i class="fa-solid fa-arrows-split-up-and-left mx-2"></i>New Traceability </a></li>
                </ul>
            </li>


            <!-- EVALUATION -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-clipboard-check mx-2"></i>Evaluation
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item menu-new" href="#"><i class="fa-solid fa-ruler-horizontal mx-1"></i> New Metric</a></li>
                    
                    <li><a class="dropdown-item menu-new" href="#"><i class="fa-solid fa-pen-ruler mx-2"></i>New Measure</a></li>

                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item " href="#"> <i class="fa-solid fa-check-to-slot mx-1"></i> Evaluate Project</a></li>
                    <li><a class="dropdown-item " href="#"> <i class="fa-solid fa-check-to-slot mx-1"></i> Evaluate Diagram</a></li>
                    <li><a class="dropdown-item " href="#"> <i class="fa-solid fa-check-to-slot mx-1"></i> Evaluate Product</a></li>
                </ul>
            </li>

            <!-- EXPORT -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-file-export mx-2"></i>Export
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-file-export mx-2"></i> Export Diagram</a></li>
                    
                    <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-file-export mx-2"></i> Export Product</a></li>

                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-code mx-2"></i> Export Diagram Code</a></li>
                    
                    <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-code mx-2"></i> Export Instance Code</a></li>
                </ul>
            </li>

            <!-- ABOUT -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                    <i class="fa-solid fa-circle-info mx-2"></i> <span >About</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-globe mx-2"></i> Go to Site</a></li>
                    
                    <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-circle-info mx-2"></i> About the project</a></li>

                    <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-person-running mx-2"></i> Exit</a></li>
                </ul>
            </li>


        </ul>

        <div class="d-flex">
            <img src="../../../assets/images/smarty_simple.png" width="80px" alt="" >
        </div>

        </div>
    </div>
</nav>