* {
    font-size: 10.5pt;
}
.navbar{
    border: 1px solid #d2d2d2;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%);
}

@media screen and (min-width: 768px) {
    .navbar{
        margin-top: 4px;
        border-radius: 10px  !important;
        height: 40px;
    }
}

.mr-1{
    padding-left: 8px !important; 
    padding-right: 4px !important; 
}

.nav-link{
    color: rgb(50,50,50)
    
}
.nav-link:hover{
    color: darkred;
    transition: color 0.2s;
    transition-timing-function: ease-in;
}


.menu-new{
    color:#06c
}

.menu-edit{
    color:darkgreen
}

.menu-open{
    color:darkgoldenrod
}

.menu-close{
    color: darkred
}