<ul class="nav nav-tabs" id="tabFeatures" role="tablist">

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-variability-tab" data-bs-toggle="pill" data-bs-target="#pills-variability" type="button" role="tab" aria-controls="pills-variability" aria-selected="false">Variability</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-product-tab" data-bs-toggle="pill" data-bs-target="#pills-product" type="button" role="tab" aria-controls="pills-product" aria-selected="false">Product</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-evaluation-tab" data-bs-toggle="pill" data-bs-target="#pills-evaluation" type="button" role="tab" aria-controls="pills-evaluation" aria-selected="false">Evaluation</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link active btn-requirement" id="pills-req-tab" data-bs-toggle="pill" data-bs-target="#pills-req" type="button" role="tab" aria-controls="pills-req" aria-selected="true">Requirements</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-features-tab" data-bs-toggle="pill" data-bs-target="#pills-features" type="button" role="tab" aria-controls="pills-features" aria-selected="false">Features</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link btn-uml" id="pills-uml-tab" data-bs-toggle="pill" data-bs-target="#pills-uml" type="button" role="tab" aria-controls="pills-uml" aria-selected="false">UML</button>
    </li>

    

</ul>
<section class="tab-content" id="tabContents">
    
    <div class="tab-pane fade" id="pills-variability" role="tabpanel" aria-labelledby="pills-variability-tab" tabindex="0">
        <ul id="myUL">
            <li><span class="caret"><img src="../../../assets/images/legacy/diagram.png" alt="">Mammals</span>
              <ul class="nested">
                <li><img src="../../../assets/images/legacy/variability.png" class="mx-1" alt=""> Human</li>
                <li><img src="../../../assets/images/legacy/variability.png" class="mx-1" alt=""> Monkey</li>
              </ul>
            </li>
          </ul>
    </div>

    <div class="tab-pane fade" id="pills-product" role="tabpanel" aria-labelledby="pills-product-tab" tabindex="0">
        <br>Product pane<br><br>
    </div>

    <div class="tab-pane fade" id="pills-evaluation" role="tabpanel" aria-labelledby="pills-evaluation-tab" tabindex="0">
        <br> <i class="bi-alarm"></i> Evaluation pane<br><br>
    </div>


    <div class="tab-pane fade show active" id="pills-req" role="tabpanel" aria-labelledby="pills-req-tab" tabindex="0">
        <br>Requirements pane<br><br>
    </div>

    <div class="tab-pane fade" id="pills-features" role="tabpanel" aria-labelledby="pills-features-tab" tabindex="0">
        <br>Features pane<br><br>
    </div>

    <div class="tab-pane fade" id="pills-uml" role="tabpanel" aria-labelledby="pills-uml-tab" tabindex="0">
        <br>UML pane<br><br>
    </div>

    



</section>