* {
    font-size: 9pt;
}
/*hack to stretch uml nav button*/
.btn-uml{
    width: 50px;
}
/*hack to stretch requirement nav button*/
.btn-requirement{
    width: 120px;
}

.nav-item button.nav-link{
    font-size: 9pt;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-item .nav-link.active{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%);
    font-weight: 600;
    color:darkred;
    border-bottom: 1px solid #ccc;
}
.nav-link{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 100%);
    color:#555;
    border:1px solid #ccc
}


.tab-content{
    padding: 8px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 200px;
    max-height: 200px;
    background-color: #fff;
    overflow: auto;
}

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
    font-weight: 500;
    transition: transform 0.2s;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
    transition: transform 0.2s;
}

/* Hide the nested list */
.nested {
    display: none;
    transition: display 0.5s;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.activated{ 
    display: block;
    transition: display 0.5s;
}