<ul class="nav nav-smarty justify-content-begin">

  <li class="nav-item">
    <a class="nav-link" href="#"> <img src="assets/images/legacy/class.png" alt="" routerLink="/draw-toolbar" class="mx-1"> add Class</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#"> <img src="assets/images/legacy/association.png" routerLink="/draw-toolbar" alt="" class="mx-1"> add Assoc</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#"> <img src="assets/images/legacy/component.png" routerLink="/draw-toolbar" alt="" class="mx-1"> add Component</a>
  </li>

  <!--
  <li class="nav-item">
    <a class="nav-link" ngClick="draw-papper.zoomin" href="#"> <img src="assets/images/legacy/zoom-in.png" routerLink="/draw-toolbar" alt="" class="mx-1"></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#"> <img src="assets/images/legacy/zoom-out.png" routerLink="/draw-toolbar" alt="" class="mx-1"></a>
  </li>
  -->

</ul>